<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Models</title>
    {% load widget_tweaks %}
    <!<link rel="stylesheet" href="{% static "mystyle.css"%}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>
<h1>hiii models printing django level 2</h1>
<div class="container">
  <div class="jumbotron">
    <h1>welcome users</h1>
    <h2>signup here</h2>
<form class="" action="{% static "success.html"%}" method="post">
  {% csrf_token %}


  {% for hidden_field in form.hidden_fields %}
   {{ hidden_field }}
 {% endfor %}

 {% if form.non_field_errors %}
   <div class="alert alert-danger" role="alert">
     {% for error in form.non_field_errors %}
       {{ error }}
     {% endfor %}
   </div>
 {% endif %}

 {% for field in form.visible_fields %}
   <div class="form-group">
     {{ field.label_tag }}

     {% if form.is_bound %}
       {% if field.errors %}
         {% render_field field class="form-control is-invalid" %}
         {% for error in field.errors %}
           <div class="invalid-feedback">
             {{ error }}
           </div>
         {% endfor %}
       {% else %}
         {% render_field field class="form-control is-valid" %}
       {% endif %}
     {% else %}
       {% render_field field class="form-control" %}
     {% endif %}

     {% if field.help_text %}
       <small class="form-text text-muted">{{ field.help_text }}</small>
     {% endif %}
   </div>
 {% endfor %}

{% csrf_token %}
<input type="submit" class="btn btn-primary"  name="" value="submit">
</form>
  </div>

</div>
  </body>
</html>
